synthetics_browser_config = [
  {
    name       = "Browser-Test-On-example.org"
    type       = "browser"
    status     = "live"
    message    = "Notify @qa" ## Cambiar
    device_ids = ["laptop_large"] ## depende de la eleccion del cliente
    locations  = ["aws:us-east-1"] ## validar con cliente desde que region requieren realizar las pruebas
    tags       = []

    request_definition = {
      method = "GET"
      url    = "https://www.example.org"
    }

    browser_step = [
      {
        name = "Check current url"
        type = "assertCurrentUrl"
        params = [
          {
            check = "contains"
            value = "datadoghq"
          }
        ]      
      }
    ]
    browser_variable = [
      ## cuando las variables son de tipo globales, estas ya deben estar creadas en nuestro datadog
      ## https://app.datadoghq.com/synthetics/settings/variables
      {
        type    = "global"
        id      = "a197c115-e214-4xx6-axx2-xxxxxx" ## Estos valores son traidos de variables previamente creadas en Datadog
        name    = "USER_PASSWORD"
        pattern = "{{ uuid }}"
        secure  = true
      },
      {
        type    = "global"
        id      = "f5039423-89b8-44xx6-axx2-xxxxxx"
        name    = "USER_MAIL"
        pattern = "{{ uuid }}"
        secure  = false
      }
    ]
    options_list = {
      tick_every = 3600
    }
  }
]
